@model AspNetCore6WebAppMvcGenealogySite.Models.FormClass

<div class="myform">
    <h1 class="display-4">Simple form</h1>

    @using (Html.BeginForm("CreateFamilyTree", "Tree", FormMethod.Post))
    {
        @Html.Label("First Name: ")
        <br />
        @Html.TextBox("FirstName")
        <br />
        @Html.Label("Last Name: ")
        <br />
        @Html.TextBox("LastName")
        <br />
        <input type="submit" value="Submit" />
    }
</div>
