@{
    ViewData["Title"] = "Family Tree";
}

<h2>Welcome</h2>

<div class="text-center">
    <div>
        <p>@ViewData["FirstName"]</p>
        <p>@ViewData["LastName"]</p>
    </div>
    <div>
        <p>@ViewData["Error"]</p>
    </div>
</div>

