@{
    ViewData["Title"] = "Family Tree";
}

@*<div class="text-center">
    <div>
        <p>@HttpContext.Session["FirstName"]</p>
        <p>@HttpContext.Session["LastName"]</p>
    </div>
    <div>
        <p>@HttpContext.Session["Error"]</p>
    </div>
</div>*@

