@{
    ViewData["Title"] = "Family Tree";
}

<div class="text-center">
    <div>
        <p>@Session["FirstName"]</p>
        <p>@Session["LastName"]</p>
    </div>
    <div>
        <p>@Session["Error"]</p>
    </div>
</div>

